{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }

      .score {
        display: block;
        font-size: 16px;
        position: relative;
        overflow: hidden;
      }
      
      .score-wrap {
        display: inline-block;
        position: relative;
        height: 19px;
      }
      
      .score .stars-active {
        color: #EEBD01;
        position: relative;
        z-index: 10;
        display: inline-block;
        overflow: hidden;
        white-space: nowrap;
      }
      
      .score .stars-inactive {
        color: grey;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-text-stroke: initial;
      }
    </style>
    <script>

    </script>
{% endblock %}
{% block content %}

<div class="device-sale-picture">
  <div class="text-center">
    <img src="{{ url_for('static', path='images/Device_sale_picture.png') }}" alt="" style="max-width: 100%; height: auto;" class="img-fluid">
  </div>
  <p class="text-center mt-2">Check out our latest device sale!</p>
</div>





{% endblock %}