{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
<style>
  body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }

  .score {
    display: block;
    font-size: 16px;
    position: relative;
    overflow: hidden;
  }

  .score-wrap {
    display: inline-block;
    position: relative;
    height: 19px;
  }

  .score .stars-active {
    color: #EEBD01;
    position: relative;
    z-index: 10;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
  }

  .score .stars-inactive {
    color: grey;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-text-stroke: initial;
  }
</style>
<script>

</script>
{% endblock %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Admin Dashboard</h1>
      <p>Welcome to the admin dashboard. Here you can manage users, devices, and costs.</p>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-3 text-center">
        <div class="icon-container" style="border: 2px solid grey; border-radius: 10px; padding: 20px; background-color: white;">
          <i class="fas fa-users" style="font-size: 50px; color: grey;"></i>
          <br>
          <a href="{{ url_for('admin_user_list') }}" class="btn" style="color: grey; border: 2px solid grey; border-radius: 5px; margin-top: 10px; transition: transform 0.2s;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
            Users Management
          </a>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="icon-container" style="border: 2px solid grey; border-radius: 10px; padding: 20px; background-color: white;">
          <i class="fas fa-cogs" style="font-size: 50px; color: grey;"></i>
          <br>
          <a href="{{ url_for('list') }}" class="btn" style="color: grey; border: 2px solid grey; border-radius: 5px; margin-top: 10px; transition: transform 0.2s;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
            Device Management
          </a>
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="icon-container" style="border: 2px solid grey; border-radius: 10px; padding: 20px; background-color: white;">
          <i class="fas fa-dollar-sign" style="font-size: 50px; color: grey;"></i>
          <br>
          <a href="{{ url_for('list') }}" class="btn" style="color: grey; border: 2px solid grey; border-radius: 5px; margin-top: 10px; transition: transform 0.2s;" onmouseover="this.style.transform='scale(1.1)'" onmouseout="this.style.transform='scale(1)'">
            Cost Management
          </a>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}